# Topics will covered
1. PySpark Dataframe
2. Reading the Dataset
3. Checking the Datatypes of the coulumn(Schema)
4. Selecting Describe option similar to Pandas
5. Adding column
6. Dropping column

*importing the SparkSession*

In [1]:
from pyspark.sql import SparkSession

*Definiing SparkSession variable and Application Name*

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

### 01. PySpark Dataframe

In [9]:
## read the dataset
df_pyspark=spark.read.option('header', 'true').csv('001sparkLearning_testDataset.csv')

In [11]:
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Krish| 31|        10|
|Vishva| 25|         2|
| Sunny| 29|         4|
+------+---+----------+

In [12]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [15]:
### another way to read the variable where first row as column
df_pyspark=spark.read.csv('001sparkLearning_testDataset.csv', header=True, inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Krish| 31|        10|
|Vishva| 25|         2|
| Sunny| 29|         4|
+------+---+----------+

### 02. Reading the dataset

In [17]:
### selecting top 2 record
df_pyspark.head(2)

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Vishva', age=25, Experience=2)]

In [18]:
### selecting column
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| Krish|
|Vishva|
| Sunny|
+------+

In [20]:
### type of column
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [22]:
### selecting multiple columns
df_pyspark.select('Name', 'Experience').show()

+------+----------+
|  Name|Experience|
+------+----------+
| Krish|        10|
|Vishva|         2|
| Sunny|         4|
+------+----------+

### 03. Checking the column type of schema

In [ ]:
df_pyspark.select([]))